body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #ffb3b3, #ff9999, #ff8080);
    min-height: 100vh;
}

/* PAGE CONTROL */
.page {
    display: none;
}
.page.active {
    display: block;
}

/* LOGIN */
.container {
    text-align: center;
    padding-top: 90px;
}

.main-title {
    font-size: 60px;
    color: #7a0000;
}

.subtitle {
    font-size: 22px;
    color: #4d0000;
}

.login-box {
    background: rgba(255,255,255,0.35);
    width: 380px;
    margin: auto;
    padding: 35px;
    border-radius: 25px;
}

.login-box input {
    width: 100%;
    padding: 14px;
    margin-top: 8px;
    border-radius: 12px;
    border: none;
}

/* DASHBOARD */
header {
    text-align: center;
    padding: 30px;
}

.title {
    font-size: 60px;
    color: #7a0000;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
    gap: 25px;
    padding: 40px;
}

.card {
    background: rgba(255,255,255,0.3);
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

/* BUTTONS */
button {
    background: #b30000;
    color: white;
    padding: 14px;
    border: none;
    width: 100%;
    border-radius: 14px;
    margin-top: 20px;
    cursor: pointer;
}

.new-user {
    margin-top: 15px;
}

/* POPUP */
.popup {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.popup-box {
    background: white;
    padding: 30px;
    border-radius: 20px;
    width: 350px;
}

.close-btn {
    background: #555;
}
